<h1 id="tableLabel">Tinder Bot</h1>

<p>Bot Listesi.</p>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Bot Name</th>
      <th>Bot Location</th>
      <th>Bot Status</th>
      <th>Total User</th>
      <th>Token</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bot of bots">
      <td>{{ bot.name }}</td>
      <td>{{ bot.location }}</td>
      <td>{{ bot.status }}</td>
      <td>{{ bot.totaluser }}</td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="bot.token">
      </td>
      <td> <button *ngIf="!bot.status"  class="btn btn-primary" (click)="bot.status=true; runBot(bot);">Run</button> </td>
      <td> <button *ngIf="bot.status" class="btn btn-primary" (click)="terminateBot(bot)">Terminate</button> </td>
    </tr>
  </tbody>
</table>

<br />
<button class="btn btn-primary" (click)="addBot()">Add New Bot</button>
